<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737430010307-4keri6fkp2v1362pqj7uk1jgsu9ll322.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737430010307-4keri6fkp2v1362pqj7uk1jgsu9ll322</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>737430010307-1oh35nf7148ahfuoqkqmqcngaj2gtcm0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKkfQpA0cbivYwDyUm4Y2VvZoHW7yY3ac</string>
	<key>GCM_SENDER_ID</key>
	<string>737430010307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.swisschain.validator.test</string>
	<key>PROJECT_ID</key>
	<string>sirius-vault-key-keeper</string>
	<key>STORAGE_BUCKET</key>
	<string>sirius-vault-key-keeper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737430010307:ios:ed45b25e4ad34c2c7fe576</string>
	<key>DATABASE_URL</key>
	<string>https://sirius-vault-key-keeper.firebaseio.com</string>
</dict>
</plist>